@import "./font.scss";
$base: #307fa0;

.iconfont{
    font-family:"iconfont";
    font-size: inherit;
    color: $base;
}
.g-section{
    display: flex;
    .g-left{
        flex-shrink: 0;
        width: 200px;
        margin-right: 80px;
    }
    .g-right{
        flex-grow: 1;
    }
}
.g-flex{
    display: flex;
    .section{
        flex: 1;
        &:first-child{
            margin-right: 80px;
        }
    }
}
.container{
    width: 1240px;
    height: 1754px;
    padding: 20px 50px;
    font-family: -apple-system,SF UI Text,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
    box-sizing: border-box;
    background-color: #fcfcfc;
    color: #333;
}
.header{
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    &-avatar{
        position: relative;
        padding-top: 200px;
        border-radius: 100%;
        img{
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
        }
    }
    &-name{
        &-mark{
            font-size: 80px;
            line-height: 120px;
            color: $base;
        }
        &-submark{
            font-size: 24px;
            line-height: 60px;
            color: #333;
        }
    }
    &-message{
        font-size: 24px;
        line-height: 40px;
        text-align: right;
        .iconfont{
            margin-left: 20px;
        }
    }
}
.section{
    margin-bottom: 20px;
    overflow: hidden;
    &-header{
        align-items: center;
        font-size: 30px;
        font-family: "DINCond";
        color: #333;
        margin-bottom: 50px;
        .iconfont{
            margin-right: 20px;
        }
        .g-right{
            border-top: 3px dotted currentColor;
        }
    }
    &-message{
        margin-bottom: 30px;
        .g-left{
            text-align: right;
            .mark{
                font-size: 24px;
                margin-bottom: 5px;
                color: $base;
            }
            .submark{
                font-size: 20px;
                color: #ccc;
            }
        }
        .g-right{
            .mark{
                font-size: 24px;
                margin-bottom: 20px;
                color: #333;
            }
            .submark{
                font-size: 18px;
                color: #333;
                ul{
                    margin-left: 30px;
                }
                li{
                    list-style: disc;
                }
            }
        }
    }
}
.mod-skill{
    .section-message{
        margin-bottom: 10px;
    }
}